/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

* {
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
}

/* Menu */

.menu {
	background: #252525;
	padding: 20px 0;
}

.menu-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
}

.menu-nav ul li a{
	padding: 0 15px 0 15px;
}

.menu-nav ul{
	float: right;
	list-style: none;
	display: flex;
	text-align: center;
}

.menu img{
	margin: 0 auto;
	padding: 0 0 10px 0;
}

.menu-nav{
	align-self: center;
}

.menu-nav ul li{
	padding-right: 10px;
}

.menu-nav ul li a{
	padding: 10px;
	margin-left: 10px;
}

@media only screen and (max-width: 768px) {
	.menu-nav ul{
		float: none;
	}

	.menu-nav ul li{
		margin: 0 auto;
	}

	.menu-nav ul li a{
		padding: 0;
		margin-left: 0;
	}
	
}

/* Intro */

.intro {
	background: url('../img/bg-intro.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	padding-top: 120px;
	padding-bottom: 120px;
}

.intro h1 {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	font-weight: bold;

}

.intro h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: #fff;
	margin: 10px auto;
}

.intro p {
	font-style: italic;
	font-size: 1.125em;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.intro {	
		padding: 80px 0
	}

	.intro h1 {
		font-size: 2.5em;
	}
}

/* Sobre */

.sobre{
	padding-top: 60px;
	padding-bottom: 60px;
}

.sobre h2 {
	font-size: 2.25em;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}

.sobre-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: #fff;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	max-width: 220px;
	padding: 8px 5px;
	top: -25px;
}
.sobre > p {
	font-size: 1.125em;
	line-height: 1.4em;
	font-style: italic;
	max-width: 460px;
	margin: 40px auto 0 auto;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.sobre{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.sobre-item h3 {
		font-size: 2em;
		max-width: 180px;
	}

	.sobre > p {
		margin: 20px auto 0 auto;
	}
}
/* Produtos */

.produtos {
	background: #e7e4d8;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
	padding-top: 60px;
	padding-bottom: 60px;
}

.produtos-item{
	margin-bottom: 40px;
}

.produtos-item h2 {
	font-size: 2.25em;
	font-weight: bold;
	text-align: center;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 5px currentColor;
	margin: 0 auto 10px auto;
}

h2.produtos-paulista::before {
	color: #492901;
}

h2.produtos-carioca::before {
	color: #c17139;
}

h2.produtos-mineiro::before {
	color: #d7a54d;
}

.produtos-item p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.produtos-btn {
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	width: 180px;
	display: block;
	margin: 20px auto 0 auto;
	padding: 10px;
}

/* Locais */

.locais{
	padding-top: 60px;
}

.locais-item{
	margin-bottom: 60px;
}

.locais-item h2 {
	font-size: 2.25em;
	font-weight: bold;
	margin-bottom: 10px;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 320px;
	margin-bottom: 20px;
}

.locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
	color: #252525;
	width: 150px;
	text-align: center;
	display: block;
	padding: 5px 10px
}

/* Assine */

.assine {
	background: #e7e4d8;
	padding-top: 30px;
	padding-bottom: 30px;
}

.assine-info h2 {
	font-weight: bold;
	font-size: 2.25em;
}

.assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

.assine form{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-self: center;
}

.assine form label {
	display: none;
}

.assine input {
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 5px 10px;
}

.assine button {
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
}

/*Footer*/

.footer {
	background: #d6d3c8;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
}

.footer img{
	float: right;
}

@media only screen and (max-width: 768px) {
	.footer p {
		font-size: 1em;
	}

	.footer img{
		float: none;
		margin: 0 auto;	
	}
}
