/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

img{
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/* Menu */

.menu {
	background: #252525;
	padding: 15px 0;
}

.menu-nav ul li{
	display: inline-block;
}

.menu-nav ul{
	float: right;
}

.menu-nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 1.125em;
	padding: 10px;
	margin-left: 10px;
}

/* Intro */

.intro {
	background: url('../img/bg-intro.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 130px 0;
	text-align: center;
}

.intro h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.intro h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: #fff;
	margin: 10px auto;
}

.intro p {
	font-style: italic;
	font-size: 1.125em;
}

/* Sobre */

.sobre{
	padding: 60px 0;
}

.sobre h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 40px;
}

.sobre-item h3 {
	width: 220px;
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: #fff;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	padding: 5px 0 10px 0;
	top: -25px;
}

.sobre > p {
	font-size: 1.125em;
	line-height: 1.4em;
	font-style: italic;
	max-width: 460px;
	text-align: center;
	margin: 30px auto 0 auto;
}

/* Produtos */

.produtos {
	background: #e7e4d8;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
	padding: 60px 0;
}

.produtos-item h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 5px currentColor;
	margin: 20px auto;
}

h2.produtos-paulista::before {
	color: #492901;
}

h2.produtos-carioca::before {
	color: #c17139;
}

h2.produtos-mineiro::before {
	color: #d7a54d;
}

.produtos-item p {
	font-size: 0.875em;
	line-height: 1.4em;
	text-align: center;
}

.produtos-btn {
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	margin: 30px auto 0 auto;
	padding: 10px 15px;
}

/* Locais */

.locais{
	padding-top: 60px;
}

.locais-item{
	padding-bottom: 60px;
}

.locais-item h2 {
	font-size: 2.25em;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 360px;
}

.locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
	color: #252525;
	display: block;
	width: 150px;
	margin-top: 20px;
	text-align: center;
	padding: 10px 15px;
}

/* Assine */

.assine {
	background: #e7e4d8;
	padding: 30px 0;
}

.assine-info h2 {
	font-size: 2.25em;
}

.assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

.assine form label {
	display: none;
}

.assine input {
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	width: calc(100%-140px);
	padding: 10px;
	float: left;
}

.assine button {
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.125em;
	color: #fff;
	width: 140px;
	cursor: pointer;
	padding: 16px 0;
	float: left;

}

/*Footer*/

.footer {
	background: #d6d3c8;
	padding: 30px 0;
}

.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
	float: left;
}

.footer img{
	float: right;
}

@media only screen and (max-width: 739px){
    .menu img{
        margin: 0 80px;
    }

    .menu-nav ul{
        float: none;
    }

    .menu-nav a {
        float: none;
        font-size: 1em;
		padding-left: 0;
        margin-left: 6px;
    }

	.intro {
		padding: 60px 0;
	}

	.produtos {
		padding: 40px 0;
	}

	.assine-info p {
		margin-bottom: 20px
	}

	.footer p {
		font-size: .9em;
		float: none;
	}

	.footer img{
		float: none;
		margin: 10px 80px 0 80px;
	}
}