.menu{
    background: #252525;
    padding: 20px 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.container::after, .container::before{
    content: " ";
    display: table;
    clear: both;
}

a .menu-logo{
   display: block;
   float: left;
}

.menu-nav{
    float: right;
}

.menu-nav ul li{
    display: inline-block;
    margin: 10px 0;
}

.menu-nav a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.intro{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover ;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1{
    font-size: 3em;
    text-transform: uppercase;
}

.intro h1::after{
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p{
    font-style: italic;
    font-size: 1.125em;
}

/*Sobre*/
.sobre{
    margin: 60px 0;

}

.sobre h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}

.sobre-item{
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img{
    display: block;
    max-width: 100%;
}

.sobre-item h3{
    font-size: 2.25em;
    font-style: italic;
    font-weight: normal;
    background: #252525;
    color: #fff;
    width: 225px;
    text-align: center;
    line-height: 1em;
    padding: 3px 0 10px 0;
    position: relative;
    top: -25px;
}

.sobre > p{
    font-size: 1.125em;
    font-style: italic;
    max-width: 460px;
    margin: 30px auto;
    text-align: center;
    line-height: 1.5em;
}

