.menu{
    background: #252525;
    padding: 20px 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.container::after, .container::before{
    content: " ";
    display: table;
    clear: both;
}

a .menu-logo{
   display: block;
   float: left;
}

.menu-nav{
    float: right;
}

.menu-nav ul li{
    display: inline-block;
    margin: 10px 0;
}

.menu-nav a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.intro{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover ;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1{
    font-size: 3em;
    text-transform: uppercase;
}

.intro h1::after{
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p{
    font-style: italic;
    font-size: 1.125em;
}

/*Sobre*/
.sobre{
    margin: 60px 0;

}

.sobre h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}

.sobre-item{
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img{
    display: block;
    max-width: 100%;
}

.sobre-item h3{
    font-size: 2.25em;
    font-style: italic;
    font-weight: normal;
    background: #252525;
    color: #fff;
    width: 225px;
    text-align: center;
    line-height: 1em;
    padding: 3px 0 10px 0;
    position: relative;
    top: -25px;
}

.sobre > p{
    font-size: 1.125em;
    font-style: italic;
    max-width: 460px;
    margin: 30px auto;
    text-align: center;
    line-height: 1.5em;
}

/*produtos*/
.produtos{
    background: #E7E4D8;
    border: 3px solid #D6D3C8;
    padding: 60px 0;
}

.produtos-item{
    max-width: 300px;
    float: left;
    margin: 0 10px 20px 10px;

}

.produtos-item > h2{
    text-align: center;
    margin: 20px 0;
    font-size: 2.25em;
}

.produtos-item > h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #E7E4D8;
    margin: 20px auto;
    background: #fff;
}

.produtos-item > .produtos-paulista::before {
    background: #492901;
    box-shadow: 0 0 0 6px #492901;
}

.produtos-item > .produtos-carioca::before {
    background: #C17139;
    box-shadow: 0 0 0 6px #C17139;

}

.produtos-item > .produtos-mineiro::before {
    background: #D7A54D;
    box-shadow: 0 0 0 6px #D7A54D;

}

.produtos-item > p{
    font-size: 0.875em;
    line-height: 1.125em;
}

.btn-produto{
    width: 140px;
    display: block;
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    padding: 10px 30px;
    border: 3px solid #000;
    text-align: center;
    margin: 20px auto 0 auto;
}

/*Locais*/

.locais-item{
    clear: both;
    margin: 60px 0;
}

.locais-item::after, .locais-item::before{
    content: " ";
    display: table;
    clear: both;
}

.locais-item img{
    width: 460px;
    display: block;
    float: left;
    margin: 0 10px;
}

.locais-item > div{
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item div > h2{
    font-size: 2.25em;
    width: 100px;
    margin-bottom: 15px;
}

.locais-item p{
    max-width: 360px;
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.btn-local{
    width: 120px;
    display: block;
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    padding: 10px 15px;
    border: 3px solid #000;
    text-align: center;
}
